.feautures {
    padding-top: 126px;
    padding-bottom: 205px;
}

.feautures_wrapper {
    display: flex;
    justify-content: space-between;
}

.tabs_wrap {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}


.tabs_btn {
   display: flex;
   flex-direction: column;
}

.btn {
    
    width: 112px;
    height: 110px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    background-color: #333;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    transition: 0.4s;
}

.btn:not(:last-child) {
    margin-bottom: 10px;
}

.btn:hover {
    background: #EC7979;
}

.tabs_content {
    max-width: 572px;
}

.feautures_title {
    text-align: center;
text-transform: uppercase;
font-weight: bold;
font-size: 20px;
line-height: 27px;
margin-bottom: 58px;
}

.btn_item {
   
    align-items: center;
text-transform: uppercase;
font-size: 14px;
line-height: 19px;
color: #86878B;
margin-bottom: 89px;
}

.btn_link {
    
    background: #EC7979;
    border: 1px solid #FFFFFF;
    padding: 11px 25px;
    color: white;
    transition: 0.3s;
}

.btn_link:hover {
    background: blue;
}

.tabs_img {
    max-width: 320px;
}