.footer {
    background: #000000;
    padding-top: 30px;
    padding-bottom: 15px;
}

.social_icons {
    text-align: center;
    font-size: 25px;
    margin-bottom: 18px;
}

.footer_items {
    font-family: Open Sans;
    font-size: 12px;
line-height: 16px;
text-align: center;

color: rgba(255, 255, 255, 0.5);
}

z[class^="fab"]:not(:last-child){
    margin-right: 10px;
    transition: 0.4s;
}

z[class^="fab"]:hover
{   color: green;
    transform: scale(1.3);
}