.footer {
    background: #000000;
    padding-top: 30px;
    padding-bottom: 15px;
}

.footer_icons {
    margin: auto;
    margin-bottom: 18px;
    max-width: 317px;
    display: flex;
    justify-content: space-between;
}

z {
    font-size: 18px;
}

.footer_items {
    font-family: Open Sans;
    font-size: 12px;
line-height: 16px;
text-align: center;

color: rgba(255, 255, 255, 0.5);
}

