.social {
    padding-top: 14px;
    padding-bottom: 17px;
    background: #F8EFEF;
}

.social_title {
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #333333;
    font-weight: bold;
    margin-bottom: 14px;
}

.social_row {
    display: flex;
    justify-content: space-between;
    margin: 0px -15px
}
.social_items {
    max-width: 365px;
    font-size: 14px;
    line-height: 19px;
    
    align-items: center;

    color: #86878B;
}

.social_icons {
    width: 684px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

i {
    font-size: 40px;
    transition: 0.5s;
}

.fa-facebook-f:hover {
    color: green;
    transform: scale(1.3);
}

.fa-twitter:hover {
    color: red;
    transform: scale(0.8);
}

.fa-google:hover {
    color: salmon;
    transform: rotate(360deg);
}

.fa-python:hover {
    color: springgreen;
    transform: rotate(180deg);
}

.fa-instagram:hover {
    color: blue;
    transform: scaleX(2);
}

.fa-supple:hover {
    color: coral;
    transform: scale(1.5);
}

.fa-wifi:hover{
    color: green;
    transform: rotate(180deg);
}


