@import url("../css/awesome.css");
@import url("../css/price.css");
@import url("../css/customers.css");
@import url("../css/axure.css");
@import url("../css/header.css");
@import url("../css/social.css");
@import url("../css/footer.css");

html {
  font-size: 16px;
  color: rgb(92, 91, 91);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}



.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    
  }

  